<.header>
  New Page widget
  <:subtitle>Use this form to manage page_widget records in your database.</:subtitle>
</.header>

<.page_widget_form changeset={@changeset} action={~p"/page_widgets"} />

<.back navigate={~p"/page_widgets"}>Back to page_widgets</.back>
